table,td,tr{
    border:1px solid red;
   
    padding: 0!important;
    margin: 0;
}
th{
   
}
table{
    
    word-wrap: break-word
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100% !important;
    
  }
  table span{
     
  }
  .predmet{
    float:left

  }
  .cont{ 
      border-bottom: 1px solid green;
     
     
  }
  .time{
      float:right
  }
  .prostor{
      font-size: 30px
  }
  
   td,  th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
   tr:nth-child(even){background-color: #f2f2f2;}
  
   tr:hover {background-color: #ddd;}
  
   th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
  .ime{
      width: 60%;
      min-height:100%;
      background-color: blue;
      display:inline-block;
  }
  .cas{
    width: 40%;
    min-height:100%;
    background-color: grey;
    display:inline-block;
  
}