table,td,tr{
 
   
    padding: 0!important;
    margin: 0;
}


table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100% !important;
     word-wrap: break-word;
     
  }
  tr{
   border-bottom: 3px solid black
  }
  td{
  border-right: 3px solid black
  }
 
 
 
  .prostor{
      font-size: 30px
  }
  
    th {
   border-right: 3px solid black;
   font-size: 20px;
  
  }
  td{
    display: table-cell;
    vertical-align: top;
  }
  
   tr:nth-child(even){background-color: #f2f2f2;}
 
  
   th {
   
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
  .ime{
      width: 100%;
   font-size: 20px;
    position: relative;
   
   
  min-height: 100px;
    

    
      
  }
 
  .cas{
      display:inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align:center;
    width: 100%;
    color:white;
   
   

}
.ime h3,p{
   margin: 0;
   padding: 0;
     
}
.ime h3{
text-align: center;
}
.ime p{
    display: inline-block;
    vertical-align: middle;
    text-align:center;
    width: 100%;
}
.Gradbenistvo{
    background-color: rgba(192, 118, 6, 0.521)!important;
    
}
.Varovanje{
    background-color: rgb(71, 12, 235,0.53)!important;
}
.Strojnistvo{
    background-color: rgb(165, 6, 6,0.53)!important;
}
.Ekonomist{
    background-color: rgb(28, 138, 6,0.53)!important;
}
.Medijska{
    background-color: rgb(145, 5, 145,0.53)!important;
}





