
table,td,tr{
 
   
    padding: 0!important;
    margin: 0;

}


table {

    border-collapse: collapse;
    width: 100% !important;
 
        font-family: Sans-Serif;
      
   

   
  
  }
  tr{
   border-bottom: 3px solid black;

  }
  td{
  border-right: 3px solid black;
  font-weight: 600;
  
  }
 
 
 
  .prostor{
      display:table-cell;
   font-size: 16px!important;
   white-space:nowrap;
      vertical-align: middle;
  }
  
    th {
   border-right: 3px solid black;
  font-size: 16px!important;
  
  }
  td{
    display: table-cell;
    vertical-align: top;    
  }
  
   tr:nth-child(even){background-color: #f2f2f2;}
 
  
   th {
   
    text-align: center;
    background-color: #b02288;
    color: white;
  }
  .ime{
      width: 100%;

    position: relative;
   font-size: 2vh;

    

    
      
  }
 
  .cas{
      
 
    text-align:center;
    width: 100%;
    color:white;
   
   

}
.ime h3,p{
   margin: 0;
   padding: 0;
     
}
.ime h3{
text-align: center;
}
.ime p{
    display: inline-block;
    vertical-align: middle;
    text-align:center;
    width: 100%;
}
.Gradbenistvo{
    background-color: rgba(255, 128, 0, 0.521)!important;
    
}
.Varovanje{
    background-color: rgba(28, 138, 6,0.53)!important;
    
}
.Strojnistvo{
    background-color: rgb(58, 14, 253)!important;
}
.Ekonomist{
    background-color: rgba(71, 12, 235,0.53)!important;
}
.Medijska{
    background-color: rgba(255, 15, 15, 0.897)!important;
}
.Economist{
    background-color: rgb(226, 172, 1)!important;
}
.Mechanical{
    background-color: rgb(226, 107, 2)!important;
}
.Dogodek{
    background-color: rgba(2, 160, 147, 0.692)!important;
}






